        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
       p {
            font-family: Arial, sans-serif;
            color:  rgb(31, 31, 91);
        }
        body {
            font-family: Arial, sans-serif;
            color: white;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        .top-notification-bar {
            background-color: rgb(18, 191, 122);
            text-align: center;
            padding: 10px;
            font-size: 0.85em;
        }

        .main-header {
            background-color: rgb(31, 31, 91);
            border-bottom: auto solid white;
        }

        .header-content-top {
            max-width: auto;
            margin: auto;
            padding: 0px 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .logo {
            font-size: 1.8em;
            font-weight: bold;
            color: rgb(18, 191, 122);
        }

        .logo span {
            font-weight: normal;
            color: white;
        }

        .main-nav a {
            margin: 0 15px;
            font-size: 1em;
            font-weight: 500;
        }

        .user-actions {
            display: flex;
            align-items: center;
        }

        .login-link {
            margin-right: 15px;
            font-weight: 500;
            color: white;
        }

        .join-button {
            background-color: rgb(18, 191, 122);
            color: white;
            padding: 8px 20px;
            border-radius: 5px;
            margin-right: 15px;
            font-weight: bold;
            cursor: pointer;
        }

        .container {
         max-width: 1200px;
        margin: 0 auto;
        padding: 0 130px;
        }

        .secondary-nav {
            max-width: 1200px;
            margin: 0 auto;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .secondary-links a {
            margin-right: 25px;
            font-size: 0.95em;
            color: grey;
        }
        
        .main-nav a:hover,
        .secondary-links a:hover {
            color: rgb(18, 191, 122);
        }

        .brand-logo-bar {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h1 {
            padding: 35px; 
            margin: 0 auto;
            color:  rgb(31, 31, 91);
        }

        .accesories {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 100px;
  margin: auto;
}

.accesories div {
  width: 300px;
  text-align: center;
}

.accesories img {
  width: 180px;
  height: 120px;
  object-fit: contain;
}